<iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=12&l=ur1&category=audible&banner=1C5G327FPA4S79WQ9Z82&f=ifr&lc=pf4&linkID=28c339fe04965c64907994f7db30ba77&t=lovetruthlife-20&tracking_id=lovetruthlife-20" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

<h2>Archives</h2>
<ul>
  {% for post in site.posts %}
    {% unless post.next %}
      <h3>{{ post.date | date: '%Y %b' }}</h3>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y %b' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y %b' }}{% endcapture %}
      {% if year != nyear %}
	<h3>{{ post.date | date: '%Y %b' }}</h3>
      {% endif %}
    {% endunless %}

    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<!--- 
<h3>Breaking News</h3>
<h4>A thing happened in a place today</h4>
<h4>A person did a thing</h4>
<h4>There was weather</h4>
<h4>A thing happened to a person</h4>

Wouldn't this be nicer is there was an add here,feels loney without one.

<h3>Related Posts</h3>
<p>All lies</p>


--->
