<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '2251254571567542',
      xfbml      : true,
      version    : 'v2.11'
    });
  
    FB.AppEvents.logPageView();
  
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

{% if page.layout != 'home' %}
<aside class="page-content" aria-label="Post Archives">
      <div class="wrapper">

{% include related.html %}
</div>

</aside>

<div style="clear: both;"> 
{% endif %}

{% include footer.html %}

</div>
  </body>

</html>
